<!DOCTYPE html>
<html ng-app="TrooSearch">

<head>
  <meta charset="utf-8">
  <title>TrooSearch</title>
  <link href="css/main.css" rel="stylesheet">
  <script src="js/libs/angular.js"></script>
    <!-- Modules -->
    <!-- <script src="js/modules/TrooSearch.js"></script> -->
    <!-- Modules -->

  <!-- Controllers -->
    <script src="js/controllers/TrooController.js"></script>
  <!-- Controllers -->
</head>

<body >

  <div class="main-heading"> TROOSEARCH</div>

    <div class="troosearch-inputs" ng-controller="TrooController">

      <input type="text" ng-keydown="search($event)" name="input" ng-model="searchText" id="input" class="input" placeholder="Search property!!!" value="{{suggestion}}" >

      <div ng-if="check" class="suggestion-box" id="suggestion-box">
        <div  ng-repeat="property in property| filter:searchText" ng-class=" {'single-suggestion' : check}" >
         <!-- id="single-suggestion" -->
         <div ng-click = " click($event)">
           {{property.name}}
         </div>
       </div>

     </div>
   </div>



</body>

</html>
