<!DOCTYPE html>
<!--entry point -->
<html ng-app="Aashi">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Modules-->
    <script src = "js/libs/library.js"> </script>
    <script src = "js/libs/angular.js"> </script>
    <script src = "js/libs/main.js"> </script>
    <script src = "js/module/shubham.js"> </script>
    <script src = "js/module/aashi.js"> </script>
<!-- Modules-->

<!-- Controllers -->
<script src="js/controllers/manmohancontroller.js" type="text/javascript"></script>
<!-- Controllers -->
  </head>
  <body>
    <div ng-controller="ManmohanController" class="">
      <div class="">
        <ul>
          <li ng-repeat="$menu in fruits">
          <h1 ng-class="{'red':$menu.cost <= 500, 'green': $menu.cost>500}" >Name - {{$menu.name}} </h1>
          Cost - {{ $menu.cost }}

          </li>
        </ul>
      </div>
      <button ng-click="clickMe( $event )"> Click Me!!</button>
    </div>

  </body>
</html>
