@media screen {	.hk-ebay-cb-box{
			font-family: arial, helvetica;
			background: #FFF9C1;
			width: 300px;
			height: 120px;
			position: relative;
			border: 1px solid #F0E7CC;
			box-shadow: 0 2px 4px -1px #ddd;
			border-radius: .3em;
			font-size: 0.85rem;
			transition:box-shadow .2s;
		}
		.hk-ebay-cb-box:hover{		
			box-shadow: 0 1px 4px 0px #999;
		}
		.hk-ebay-cb-box,.hk-ebay-cb-box *{
			box-sizing:border-box;
		}
		.hk-ebay-cb-link{
			color: #555;
		}
		.hk-cb-b-wrap{
			padding: 0.9em .9em;
		}
		.hk-b-content{
			display: inline-block;
		}
		.hk-b-top-txt-wrap{

		}
		.hk-b-price-wrap{
			font-size: 1.6em;
			margin: 0.1em 0;

		}
		.hk-b-bottom-txt-wrap{

		}
		.hk-b-button{
			background: #0db2db;
			display: inline-block;
			padding: 0.4em .7em;
			color: white;
			border-radius: .3em;
			font-size: 0.95em;
			margin:0.55em 0;
		}
		.hk-b-image-wrap{
			float:right;
			position: relative;
		}
		.hk-b-image{
			width: 5em;
			margin: 0em 1em .2em .2em;
			position: relative;
			z-index: 10;
		}
		.hk-bh-logo{
			width: 103px;
			position: absolute;
			right: 13px;
			bottom: 0.8em;
		}
		.gps_ring {
		    background: #fbb03b;
		    border-radius:100%;
		    height: 2.2em;
		    width: 2.2em;
		    left:50%;
		    top:50%;
		    margin-left:-1.5em;
		    z-index: 1;
		    margin-top:-1.5em;
		    position: absolute;
		    -webkit-animation: pulsate 2s ease-out infinite;
			-moz-animation: pulsate 2s ease-out infinite;
			-o-animation: pulsate 2s ease-out infinite;
			animation: pulsate 2s ease-out infinite;
		    opacity: 0;
			-moz-opacity: 0;
		}
		@-webkit-keyframes pulsate {
		    0% {
		        transform: scale(0.1, 0.1);
		        opacity: 0.0
		    }

		    50% {
		        opacity: .3
		    }

		    100% {
		        transform: scale(3, 3);
		        opacity: 0.0
		    }
		}

		@-moz-keyframes pulsate {
		    0% {
		        transform: scale(0.1, 0.1);
		        opacity: 0.0
		    }

		    50% {
		        opacity: 1.0
		    }

		    100% {
		        transform: scale(4, 4);
		        opacity: 0.0
		    }
		}

		@keyframes pulsate {
		    0% {
		        transform: scale(0.1, 0.1);
		        opacity: 0.0
		    }

		    50% {
		        opacity: 1.0
		    }

		    100% {
		        transform: scale(4, 4);
		        opacity: 0.0
		    }
		}
	}