.buy-btn-sec2 {
	background: url('comp_Flip.png') no-repeat 0 0;
}
.buy-btn-sec2  {
	height: 38px;
	width: 218px;
	color: white;
	text-shadow: 1px 1px 1px black;
	border: 0;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}
.fk-inline-block {
	display: inline-block;
	zoom: 1;
}
a {
	color: #004B91;
	text-decoration: none;
	cursor: pointer;
}
#containerBHMain{
	margin-top: 2px !important; 
}
.offers-info-wrap{
	border: 1px solid #eaeaea !important;
	border-radius: 1px !important;
	padding: 10px !important;
	margin: 5px 1px !important;
	max-width: 220px !important;
	text-align: center !important;
}
.offers-info .offers{
	border-bottom: 1px solid #eaeaea !important;
    border-top: 1px solid #eaeaea !important;
    font-size: 11px !important;
}
.offers-info .padding10{
	padding-top: 10px !important;
}