@media screen {.bh_product_item {
    width:300px;
    height: 64px;
}
.bh_container {
    clear: both;
    margin-bottom: 5px;
    margin: 0px auto;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 13px;
}
.bh_list_container {
    clear: both;
    max-height: 360px;
    *max-height: 394px;
    border: none;
    min-height: 140px;
}
.bh_list_container::-webkit-scrollbar {
    -webkit-appearance: none;
}
.bh_list_container::-webkit-scrollbar:vertical {
    width: 11px;
}
.bh_list_container::-webkit-scrollbar:horizontal {
    display: none;
}
.bh_list_container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid #eee;
    /* should match background, cant be transparent */

    background-color: rgba(0, 0, 0, .5);
}
.bh_list_container::-webkit-scrollbar-track {
    background-color: #fff;
}

.buyhatke_widget {
    max-width: 920px;
    margin: 0 auto;
}

.bh_prod_logo {
    font-size:12px;font-weight:normal;
    font-family:arial;
    margin:20px 0 0 5px;
    width:155px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.bh_prod_list{
    display:inline-block;
    overflow-y: hidden;
}
[id*="bh_list"] li {
    height: 64px;
    width: 280px;
    float: left;
    margin: 0px 0px -1px -1px;
    border: 1px solid #eee;
    position: relative;
    transition: border .2s;
}
[id*="bh_list"] li:last-child{
	border:none;
}

[id*="bh_list"] li:hover a{
	text-decoration: underline;
}
[id*="bh_list"] li:hover{
	
    border: 1px solid #bbb;
    z-index:1
}
[id*="bh_list"] li:last-child {
    border: none;
    padding: 1em 0;
}
.img_left img {
    max-height: 64px;
    padding:5px;
    max-width: 99%;
    width: auto !important;
    margin: 0 auto !important;
}
.img_left {
    width: 25%;
    float: left;
    text-align: center;
    height: 64px;
    line-height: 60px;
}
.desc_right {
    width: 73%;
    float: right;
    margin-top: 5px;
    font-weight: bold;
    color: #993300;
}
.bh_prod_price {
    float: left;
    color: #006699;
    font-size: 13px;
    line-height: 28px;
}
.bh_prod_discount {
    float: left;
    margin-left: 5px;
    color: #0db2db;
    font-size: 14px;
    line-height: 26px;
}
.wrap_pReview {
    width: 50%;
    float: right;
}
.bh_prod_title {
    font-size: 11px;
    text-decoration: none;
    color: #555;
    width: auto;
    font-weight: bold;
    min-height: 1em;
    overflow: hidden;
    padding-right: 0.8em;
    max-height: 1em;
    line-height:12px;
    margin-top:1em;
}

#bh_container h4 {
    border-top: 3px solid #747474;
    color: #000000;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0;
    text-transform: uppercase;
}
.clearfix:before,.clearfix:after{
	content: " ";
	display: table
}
.clearfix:after{
	clear: both
}
}
/*
@media only screen and (min-device-width: 450px) and (max-device-width: 800px) {
    #bh_container {
        margin: 0 auto;
    }
}*/